[mysqld]
# 문자셋
character-set-server = utf8mb4
collation-server     = utf8mb4_0900_ai_ci

# 대량 적재
local_infile = 1
secure-file-priv = /var/lib/mysql-files

# 성능(옵션)
innodb_flush_log_at_trx_commit = 2
innodb_buffer_pool_size        = 1G

[client]
default-character-set = utf8mb4

